$main-width: 1230px;

$dark-color: #3F4B51;
$footer-color: darken($dark-color, 5%);

$theme-color-blue: #2bb5de;
$theme-color-red: #FF6861;
$theme-color-green: #56E432;
$theme-color-yellow: #FDE910;